<p>
  detail-prestatie-indicatoren works!
</p>

<div>
  Weergave PI:
  <div>
    <table>
      <tr>
        <th>Beschrijving PI:</th>
        <td colspan="7">{{pi.description}}</td>
      </tr>
      <tr>
        <th>Product:</th>
        <td colspan="7">{{pi.product}}</td>
      </tr>
      <tr>
        <th>Criteria:</th>
        <td colspan="7">{{pi.criteria}}</td>
      </tr>
      <tr>
        <th>Instructies:</th>
        <td colspan="7">{{pi.instructions}}</td>
      </tr>
      <tr>
        <th>Aspect</th>
        <th>Omschrijving</th>
        <th>2</th>
        <th>4</th>
        <th>6</th>
        <th>8</th>
        <th>10</th>
        <th>Gewicht</th>
      </tr>
      <tr *ngFor="let p of pi.aspects">
        <td>{{p.aspect}}</td>
        <td>{{p.description}}</td>
        <td>{{p.txt2}}</td>
        <td>{{p.txt4}}</td>
        <td>{{p.txt6}}</td>
        <td>{{p.txt8}}</td>
        <td>{{p.txt10}}</td>
        <td>{{p.weight}}</td>
      </tr>
    </table>
  </div>
</div>
