<div>
  Weergave PI:
  <div>
    <table>
      <tr>
        <th>Beschrijving PI:</th>
        <td colspan="7">{{pi.description}}</td>
      </tr>
      <tr>
        <th>Product:</th>
        <td colspan="7">{{pi.product}}</td>
      </tr>
      <tr>
        <th>Criteria:</th>
        <td colspan="7">{{pi.criteria}}</td>
      </tr>
      <tr>
        <th>Instructies:</th>
        <td colspan="7">{{pi.instructions}}</td>
      </tr>
      <tr>
        <th>Aspect</th>
        <th>Omschrijving</th>
        <th>2</th>
        <th>4</th>
        <th>6</th>
        <th>8</th>
        <th>10</th>
        <th>Gewicht</th>
      </tr>
      <tr>
        <td>{{pi.arr[0].aspect}}</td>
        <td>{{pi.arr[0].description}}</td>
        <td>{{pi.arr[0].txt2}}</td>
        <td>{{pi.arr[0].txt4}}</td>
        <td>{{pi.arr[0].txt6}}</td>
        <td>{{pi.arr[0].txt8}}</td>
        <td>{{pi.arr[0].txt10}}</td>
        <td>{{pi.arr[0].weight}}</td>
      </tr>
      <tr>
        <td>{{pi.arr[1].aspect}}</td>
        <td>{{pi.arr[1].description}}</td>
        <td>{{pi.arr[1].txt2}}</td>
        <td>{{pi.arr[1].txt4}}</td>
        <td>{{pi.arr[1].txt6}}</td>
        <td>{{pi.arr[1].txt8}}</td>
        <td>{{pi.arr[1].txt10}}</td>
        <td>{{pi.arr[1].weight}}</td>
      </tr>
    </table>
  </div>
</div>
