<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

<div id="testdiv">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel *ngFor='let a of activityList'>
      <ng-template ngbPanelTitle>
        <span><i class={{a.icon}}></i> {{a.title}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div>
          <strong>Beschrijving:</strong> {{a.description}}
          <span [hidden]="!views.FU">
            <br /><strong>Intentie:</strong> {{a.intention}}
            <br /><strong>Geschatte tijd:</strong> {{a.timeEstimated}} uur.
          </span>
          <br /><strong>Lesweek:</strong> {{a.week}}.
          <br /><strong>Datum:</strong> {{a.date}}.
                <span [hidden]="!checkDatePassed(a.date)">
                  <span [hidden]="feedbackItems[a.id]">
                    <button class="btn btn-success" (click)="feedbackActivity(a.id, a.title)" style="float: right">Feedback</button>
                  </span>
                </span>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
