/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  /*
  font-size:small;
  */
}


.testdiv {
  max-height: 30em;
  overflow-y: auto;
  overflow-x: auto;
}


body {
  padding-top: 80px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btnWidth {
  width: 6em;
}

.limitwidth {
  max-width: 510px;
  /*
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
}

.reddish {
  fill: #dc3545;
}
.blueish {
  fill: #007bff;
}
.greenish {
  fill: #28a745;
}

.grayish {
  fill: #495057;
}
