<div class="container">
  <button class="btn btn-secondary" (click)="noScreen(); loginScreen = true;">Inlog</button>
  <button class="btn btn-secondary" (click)="noScreen(); registerScreen = true;">Register</button>
  <button class="btn btn-secondary" (click)="noScreen(); teacherScreen = true;">Docent</button>
  <button class="btn btn-secondary" (click)="noScreen(); studentScreen = true;">Student</button>
  <button class="btn btn-secondary" (click)="noScreen(); feedbackScreen = true;">Feedback</button>
  <button class="btn btn-secondary" (click)="noScreen(); dataVisScreen = true;">DataVis</button>
</div>
<hr />
<div class="container">
  <button class="btn btn-primary" (click)="getCurrentUserTest();">Get current user</button>
  <button class="btn btn-primary" (click)="logoutTest();">Logout</button>
  <button class="btn btn-primary" (click)="getObjectTest();">GetObject</button>
</div>
<hr />
<div class="container" *ngIf="studentScreen">
  <app-studenten-leer-activiteiten></app-studenten-leer-activiteiten>
</div>


<div class="container" *ngIf="teacherScreen">
  <app-leer-activiteiten></app-leer-activiteiten>
</div>

<div class="container" *ngIf="feedbackScreen">
  <app-feedback-activity-form></app-feedback-activity-form>
</div>

<div class="container" *ngIf="loginScreen">
  <app-login></app-login>
</div>

<div class="container" *ngIf="registerScreen">
  <app-register></app-register>
</div>

<div class="container" *ngIf="dataVisScreen">
  <app-datavis></app-datavis>
</div>

<div class="container">
  <h3>Chart.js Bar Chart</h3>
  <app-bar-chart3></app-bar-chart3>
</div>

<br />
<br />
<hr />

<!--
<router-outlet></router-outlet>
-->
<!--
<div class="container">
  <router-outlet></router-outlet>
</div>
-->
<!--
<hr />
<div class="container">
  <app-new-learning-activity-form [module]="module"></app-new-learning-activity-form>
</div>
-->
<!--
<div class="container">
  <app-edit-activity-form [activityId]="activityId" [module]="module"></app-edit-activity-form>
</div>
-->
<!--
<app-login></app-login>
-->
<!--
<app-register></app-register>
-->
<!--
<app-docenten-learning-activity-form></app-docenten-learning-activity-form>
-->
<!--
<div class="container">
  <app-leer-activiteiten></app-leer-activiteiten>
</div>
-->
<!--
<app-navbar></app-navbar>
<div class="container">
  <h1>
    Dashboard
  </h1>

  <app-leer-activiteiten [selectedId]=selectedId></app-leer-activiteiten>

  <app-study-module [selectedId]=selectedId (sendId)="selectedId=$event"></app-study-module>

  <br />
  <div *ngIf="selectedId">
    <app-prestatie-indicatoren [selectedId]=selectedId></app-prestatie-indicatoren>
  </div>
</div>
-->
