<div class="section">
  <h2>
    Study Module
  </h2>
  Select Module:
  <!--<select [ngModel]="sModule" (ngModelChange)="onSelectM($event)" name="modules">-->
  <select [ngModel]="sModule" (ngModelChange)="onSelectM($event)" name="modules">
      <option *ngFor='let m of sModules' [ngValue]='m' [selected]="m.id == 2">
        {{m.name}}
      </option>
  </select>
</div>

<table class="table section" *ngIf="sModule">
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{sModule.name}}</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>{{sModule.description}}</td>
    </tr>
    <tr>
      <th scope="row">Goal</th>
      <td>{{sModule.goal}}</td>
    </tr>
    <tr>
      <th scope="row">Learning Outcome</th>
      <td>{{sModule.learningOutcome}}</td>
    </tr>
    <tr>
      <th scope="row">Semester</th>
      <td>{{sModule.semester}}</td>
    </tr>
    <tr>
      <th scope="row">School year</th>
      <td>{{sModule.schoolyear}}</td>
    </tr>
  </tbody>
</table>
