<app-student-navbar></app-student-navbar>
<div class="container">

  <h2>Feedback - {{name}} {{module}}</h2>

  <form (ngSubmit)="saveFeedback()" #feedbackActivityForm="ngForm">

    <div class="form-group">
      <h3>Materiaal</h3>
      <label for="materialScore">Wat vond je van het materiaal?</label>
      <br />
      <button type="button" class={{btnClasses.mBad}} (click)="setMaterialScore('bad');">Slecht</button>
      <button type="button" class={{btnClasses.mNeutral}} (click)="setMaterialScore('neutral');">Neutraal</button>
      <button type="button" class={{btnClasses.mGood}} (click)="setMaterialScore('good');">Goed</button>
    </div>

    <div class="form-group">
      <h3>Docent</h3>
      <label for="teacherScore">Wat vond je van de docent?</label>
      <br />
      <button type="button" class={{btnClasses.tBad}} (click)="setTeacherScore('bad');">Slecht</button>
      <button type="button" class={{btnClasses.tNeutral}} (click)="setTeacherScore('neutral');">Neutraal</button>
      <button type="button" class={{btnClasses.tGood}} (click)="setTeacherScore('good');">Goed</button>
    </div>
    
    <div class="form-group">
      <h3>Begrip</h3>
      <label for="comprehensionScore">Begrijp je de behandelde stof?</label>
      <br />
      <button type="button" class={{btnClasses.compBad}} style="width: 9.2em;"  (click)="setComprehensionScore('bad');">Ik snap het niet</button>
      <button type="button" class={{btnClasses.compGood}}  style="width: 9.2em;" (click)="setComprehensionScore('good');">Ik snap het wel</button>
    </div>

    <div class="form-group">
      <h3>Opmerkingen</h3>
      <label for="comment">Heb je opmerkingen die je wilt delen?</label>
      <input type="text" placeholder="Onderwerp (Optioneel)" class="form-control"
             [(ngModel)]="feedback.commentTitle" name="commentTitle" />
      <br />
      <textarea rows="4" cols="40" placeholder="Opmerking (Optioneel)" class="form-control"
                [(ngModel)]="feedback.commentBody" name="commentBody"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!formValid">Save</button>
  </form>
</div>





<!--
<div class="container">
  <h2>Feedback - {{activity.title}} {{module}}</h2>

  <div style="margin-bottom: 0.6em;">
    <h3>Materiaal</h3>
    <p>Wat vond je van het materiaal?</p>
    <button class="btn btn-danger">Slecht</button>
    <button class="btn btn-primary">Neutraal</button>
    <button class="btn btn-success">Goed</button>
  </div>
  <div style="margin-bottom: 0.6em;">
    <h3>Docent</h3>
    <p>Wat vond je van de docent?</p>
    <button class="btn btn-danger">Slecht</button>
    <button class="btn btn-primary">Neutraal</button>
    <button class="btn btn-success">Goed</button>
  </div>

  <div style="margin-bottom: 0.4em;">
    <h3>Opmerkingen</h3>
    <p>Heb je opmerkingen die je wilt delen?</p>
    <input type="text" placeholder="Onderwerp (Optioneel)" style="margin-bottom: 0.4em;" />
    <br />
    <textarea rows="4" cols="40" placeholder="(Optioneel)"></textarea>
  </div>

  <button class="btn btn-primary" (click)="saveFeedback();">Save</button>

</div>

-->
