<div class="container">
  <h2>Feedback - {{activity.title}} {{module}}</h2>

  <div style="margin-bottom: 0.6em;">
    <h3>Materiaal</h3>
    <p>Wat vond je van het materiaal?</p>
    <button class="btn btn-danger">Slecht</button>
    <button class="btn btn-primary">Neutraal</button>
    <button class="btn btn-success">Goed</button>
  </div>
  <div style="margin-bottom: 0.6em;">
    <h3>Docent</h3>
    <p>Wat vond je van de docent?</p>
    <button class="btn btn-danger">Slecht</button>
    <button class="btn btn-primary">Neutraal</button>
    <button class="btn btn-success">Goed</button>
  </div>

  <div style="margin-bottom: 0.6em;">
    <h3>Opmerkingen</h3>
    <p>Heb je opmerkingen die je wilt delen?</p>
    <input type="text" placeholder="Onderwerp" style="margin-bottom: 0.4em;" />
    <br />
    <textarea rows="4" cols="40" placeholder="(Optioneel)"></textarea>
  </div>
</div>
