<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


<p>
  leer-activiteiten works!
</p>
<p>
  Study module: {{selectedId}}
</p>

<div id="testdiv">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-chalkboard-teacher"></i> Hoorcollege 1</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-pencil-alt"></i> Werkcollege 1</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-laptop"></i> Weekopdrachten 1</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-book"></i> Bestudeer hoofdstuk 1 t/m 5</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Leeractiviteiten info
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
