
/*
#testdiv {
  max-width: 26em;
  max-height: 24em;
  overflow-y: auto;
  overflow-x: auto;
}
*/

#testdiv {
  max-height: 30em;
  overflow-y: auto;
  overflow-x: auto;
}

.cog {
  float: right;
  font-size: large;
}
.plus {
  display: block;
  text-align: center;
  font-size: large;
}

.ralign {
  float: right;
  z-index: 999;
}

.margin1 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.margins{
  margin-left: 0.4em;
  margin-right: 0.4em;
}
