<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

<h2>
  Leeractiviteiten
</h2>
<p>
  Study module: {{selectedId}}
</p>


<div id="testdiv">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel id="panel-plus">
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-plus plus"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <app-new-learning-activity-form [module]="module" [acc]="acc"></app-new-learning-activity-form>
      </ng-template>
    </ngb-panel>
    <ngb-panel *ngFor='let a of activityList'>
      <ng-template ngbPanelTitle>
        <span><i class={{a.icon}}></i> {{a.title}}</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <div [hidden]="editList[a.id]" >
          <strong>Beschrijving:</strong> {{a.description}}
          <br /><strong>Intentie:</strong> {{a.intention}}
          <br /><strong>Geschatte tijd:</strong> {{a.timeEstimated}} uur.
          <br /><strong>Lesweek:</strong> {{a.week}}.

          <button class="btn btn-danger ralign margins" (click)="deleteActivity(a.id)">Delete</button>
          <button class="btn btn-primary ralign margins" (click)="editActivity(a.id)">Edit</button>
        </div>
        <div [hidden]="!editList[a.id]">
          <app-edit-activity-form [module]="module" [activity]="a" [activityId]="a.id"></app-edit-activity-form>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>


<!--

<div id="testdiv">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-plus plus"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Titel:</strong> <input type="text" class="form-control" placeholder="Titel Leeractiviteit">
        <strong>Type:</strong>
        <select class="ralign margin1">
          <option disabled>Type</option>
          <option>HC</option>
          <option>WC</option>
          <option>WO</option>
          <option>ZC</option>
        </select>
        <br /><strong>Beschrijving:</strong> <textarea class="form-control" rows="3" id="comment" placeholder="Beschrijving"></textarea>
        <br /><strong>Intentie:</strong> <input type="text" class="form-control" placeholder="Intentie">
        <br /><strong>Geschatte tijd:</strong>  <input  type="number" min="0" step="0.1" class="form-control" placeholder="Aantal uur">
        <br /><strong>Lesweek:</strong>  <input  type="number" min="1" max="10" class="form-control" placeholder="Lesweek">
        <button class="btn btn-primary ralign margin1">Save</button>
      </ng-template>
    </ngb-panel>
    <ngb-panel *ngFor='let a of activityList'>
      <ng-template ngbPanelTitle>
        <span><i class={{a.icon}}></i> {{a.title}}<i class="fas fa-cog cog"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> {{a.description}}
        <br /><strong>Intentie:</strong> {{a.intention}}
        <br /><strong>Geschatte tijd:</strong> {{a.timeEstimated}} uur.
        <br /><strong>Lesweek:</strong> {{a.week}}.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>





-->
<!--
<div id="testdiv">
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-plus plus"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        Add New Activity
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-chalkboard-teacher"></i> Hoorcollege 1<i class="fas fa-cog cog"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> Eerste hoorcollege. De behandelde onderwerpen zijn: Wat is architectuur, waarom architectuur en het architectuur proces.
        <br /><strong>Intentie:</strong> Introductie van het architectuur onderwerp.
        <br /><strong>Geschatte tijd:</strong> 1 uur.
        <br /><strong>Lesweek:</strong> 1.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-pencil-alt"></i> Werkcollege 1<i class="fas fa-cog cog"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> Eerste werkcollege. Het hoorcollege wordt besproken en de 'Wel of niet architectuur' opdracht wordt behandeld.
        <br /><strong>Intentie:</strong> Begrip verhogen over wat er onder architectuur valt.
        <br /><strong>Geschatte tijd:</strong> 3 uur.
        <br /><strong>Lesweek:</strong> 1.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-laptop"></i> Weekopdrachten 1<i class="fas fa-cog cog"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> De weekopdrachten gaan over verschillende vormen van Architectuur.
        <br /><strong>Intentie:</strong> Oefening krijgen met het toepassen van architectuurconcepten.
        <br /><strong>Geschatte tijd:</strong> 4,5 uur.
        <br /><strong>Lesweek:</strong> 1.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-book"></i> Bestudeer hoofdstuk 1 t/m 5<i class="fas fa-cog cog"></i></span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> Bestudeer hoofdstuk 1 t/m 5.
        <br /><strong>Intentie:</strong> Kennis vergroten over architectuur.
        <br /><strong>Geschatte tijd:</strong> 4,5 uur.
        <br /><strong>Lesweek:</strong> 1.
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> <em>Beschrijving</em>
        <br /><strong>Intentie:</strong> <em>Intentie</em>
        <br /><strong>Geschatte tijd:</strong> <em>Geschatte tijd</em>
        <br /><strong>Lesweek:</strong> <em>Lesweek</em>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> <em>Beschrijving</em>
        <br /><strong>Intentie:</strong> <em>Intentie</em>
        <br /><strong>Geschatte tijd:</strong> <em>Geschatte tijd</em>
        <br /><strong>Lesweek:</strong> <em>Lesweek</em>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span><i class="fas fa-circle"></i> Overige</span>
      </ng-template>
      <ng-template ngbPanelContent>
        <strong>Beschrijving:</strong> <em>Beschrijving</em>
        <br /><strong>Intentie:</strong> <em>Intentie</em>
        <br /><strong>Geschatte tijd:</strong> <em>Geschatte tijd</em>
        <br /><strong>Lesweek:</strong> <em>Lesweek</em>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
-->
