
#testdiv {
  max-width: 26em;
  max-height: 24em;
  overflow-y: auto;
  overflow-x: auto;
}

.cog {
  float: right;
  font-size: large;
}
.plus {
  display: block;
  text-align: center;
  font-size: large;
}
